<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flash Cards</title>
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="js/script.js"></script>
</head>
<body>

  <div class='header'>
    <div>
      <a href="layout.hbs"><h3>Dickveez</h3></a>
      </div>
    <div class='themes'>
      |
      <div>
        <a href="/">Корпоратив</a>
        </div>
        |
      <div>
        <a href="/">География</a>
        </div>
        |
      <div>
        <a href="/">История Рима</a>
        </div>
        |
    </div>
    <div>
      <a href="/"><h3>UserName</h3></a>
      </div>
  </div>

  <div class="choosedTheme">
    {{{body}}}
    </div>

  <div class="bottom">
    <h5>Development team:</h5>
        <h5><a href="https://github.com/Alexoch-AI">Alex Ochirov<img src="http://pngimg.com/uploads/github/github_PNG40.png" alt="github"></a></h5>
        <h5><a href="https://github.com/Ricorder">Evgeny Kolesnikov<img src="http://pngimg.com/uploads/github/github_PNG40.png" alt="github"></a></h5>
        <h5><a href="https://github.com/belovinho">Nikolay Belov<img src="http://pngimg.com/uploads/github/github_PNG40.png" alt="github"></a></h5>
    </div>

</body>
</html>
