body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  /* height: 100%; */
}

.header {
  background-color: #004059;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  text-decoration: none;
}

.bottom {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: smaller;
}

.themes {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color:#6feafe;
  padding: 0 5px;
}

a:hover {
  color:#f19a75;
  text-decoration: none;
}

.choosedTheme {
  display:flex;
  justify-content: center;
  margin: 100px 0 0 0;
}

.questionsBlock {
  display: flex;
  width:800px;
  justify-content: center;
}

.question {
  width: 500px
}

.answer {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

img {
  height: 25px;
  display:flex;
  margin: auto; 
}
